
/* loading page  */
.body_index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}


.logo {
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
}

.desc1 {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: rgb(0, 79, 255);
    text-align: center;
    font-weight: 100;
}

.loading {
    color: rgb(0, 79, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* end of loading page  */

/* employee list  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.body_main {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #f5f5f5;
}

#employee-container {
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;  /* space between row and colums */
    justify-content: center;
}

.employee-card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 150px; /* to ensure that all card has the same height  */
    position: relative;
    overflow: hidden;
    align-items: stretch;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.info h3 {
    font-size: 16px;
    color: #444;
}

.info p {
    font-size: 14px;
    color: gray;
}

.color-bar {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* end of employee list  */

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000 ; /* insure that the nav bar will not be under the content */
}
.rainbow{
    
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    margin-right: 20px;
    padding-left: 20px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
} 

.top-bar {
  
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, yellow, green, lightblue, blue, purple, pink);
}

/* end of header */

/* navigation bar */
.collapse navbar-collapse{
    
    display: flex;
    align-items: center;
    padding-right: 0;
    background: white;
    
}

.navbar{
    padding-right: 20px;
}

.navbar-nav {
    display: flex;
    margin-left: auto;
    
}

.navbar-nav li {
    display: inline;
}

.navbar-nav a {
    color:rgb(82, 123, 211);
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #333;
}
.navbar-toggler{
    margin-right: 2px;
}

/* end of navigation bar */


/* employee details  */

/* Employee Details */

#employee-details {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-top: 135px;
    right: -400px; /* Initially off-screen */
    width: 350px;
    height: 100%;
    background:#f0f0f0;
    border: 1px solid #ddd;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    transition: right 0.3s ease; /* animation */
    overflow-y: auto;
    padding: 20px;
    text-align: left;
    
}


#employee-details .details-bar {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.employee-card.selected {
    border: 2px solid blue;
}

#employee-details.show {
    right: 0;
}

#employee-details .details-content {
    flex-grow: 1;
    position: relative;
}

#employee-details #close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
}

#employee-details .details-image {
    text-align: center;
    margin-bottom: 20px;
}

#employee-details .details-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding-left: 2px;
}
#employee-details .details-content .address{
    margin-top: 30px;
    color: #444;
    font-weight: 200;
    
}

#employee-details p {
    margin-bottom: 5px;
}
#employee-details .address{
    margin-top: 5px;
}

#employee-details .details-actions {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 2px;
}

#employee-details .details-action {
    font-weight: bold;
    color: #444;
    padding-top: 5px;
    width: fit-content;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    
}

#employee-details .delete-action {
    background-color: #e74c3c;
    color: white;
}

/* mobile mode */

@media (max-width: 770px) {
    #employee-details {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 1002;
        display: none;
        transition: right 0.3s ease;
        right: -100%;
    }

    #employee-details.show {
        display: block; /* Show the section */
    }


    #employee-details #close-details {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1005;
        min-width: 30px;
        min-height: 30px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8); 
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }
    #employee-details .details-content{
        flex-grow: 1;
        position: relative;
    }
}
/*mobile mode */

/* end of employee deails  */