.body_index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

.rainbow{
    
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    margin-right: 750px;
    padding-left: 20px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    
} 
.logo {
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
}

.desc1 {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: rgb(0, 79, 255);
    text-align: center;
    font-weight: 100;
}

.loading {
    color: rgb(0, 79, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.body_main {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #f5f5f5;
}

#employee-container {
    margin-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;  /* space between row and colums */
    justify-content: center;
}

.employee-card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 150px; /* to ensure that all card has the same height  */
    position: relative;
    overflow: hidden;
    align-items: stretch;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: #444;
     
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.info h3 {
    font-size: 16px;
    color: #444;
}

.info p {
    font-size: 14px;
    color: gray;
}

.color-bar {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000 ; /* insure that the nav bar will not be under the content */
}

.top-bar {
  
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, yellow, green, lightblue, blue, purple, pink);
}


.collapse navbar-collapse{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    background: white;
    
}


.navbar-nav {
    display: flex;
    gap: 20px;
    
}
.navbar{
    padding-right: 20px;
}

.navbar-nav li {
    display: inline;
}

.navbar-nav a {
    
    
    color:rgb(82, 123, 211);
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #333;
}
.navbar-toggler{
    margin-right: 2px;
}