
/* loading page  */
.body_index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}


.logo {
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 20% 100%;
}

.desc1 {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: rgb(0, 79, 255);
    text-align: center;
    font-weight: 100;
}

.loading {
    color: rgb(34, 87, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* end of loading page  */


/* employee list  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.body_main {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #f5f5f5;
}

#employee-container {
   padding-right: 10px;
    margin-left: 210px; 
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    max-height: fit-content;
    gap: 15px; /* space between row and colums */
    
}

.employee-card {
    display:flex;
    background: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 200px; 
    position:relative;
    overflow: hidden;
    align-items: stretch;
    
}

.image-container{
    min-width: 130px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    min-width: 100%;
    flex-direction:column;
    justify-content: center;
    padding: 15px;
}

.info h3 {
    text-overflow: ellipsis;
    font-size: 16px;
    color: #444;
    overflow-wrap: break-word; /* break word and wrap it to next line */
}

.info p {
    font-size: 14px;
    color: gray;
}

.color-bar {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* end of employee list  */

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000 ; /* insure that the nav bar will not be under the content */
    border-bottom: #9e9696 solid 1px;
}
.rainbow{
    
    font-family: serif ;
    font-weight: 20;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    margin-right: 20px;
    padding-left: 20px;
    background-image: linear-gradient(to right, yellow, green,blue, indigo, violet,red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
} 

.top-bar {
  
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, yellow, green, lightblue, blue, purple, pink);
}

/* end of header */

/* navigation bar */
.collapse navbar-collapse{
    
    display: flex;
    align-items: center;
    padding-right: 0;
    background: white;
    
    
}

.navbar{
    padding-right: 20px;
}

.navbar-nav {
    display: flex;
    margin-left: auto;
}

.navbar-nav li {
    display: inline;
    padding-left: 15px;
}

.navbar-nav a {
    color:rgb(82, 123, 211);
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #333;
}
.navbar-toggler{
    margin-right: 2px;
}

#navbarNav .add-action{

    border-style: hidden;
    border: none;
    margin-left: 350px; 
    margin-right: 50px;
    color:rgb(60, 63, 72);
    font-size: 16px;
    font-weight: bold;
}
#navbarNav  .edit-action{
    border-style: hidden;
    color:rgb(60, 63, 72);
    font-size: 16px;
    font-weight: bold;
}


/* end of navigation bar */


/* employee details  */

/* Employee Details */

#employee-details {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-top: 135px;
    right: -400px; /* Initially off-screen */
    width: 350px;
    height: 100%;
    background:#f0f0f0;
    border: 2px solid ;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    transition: right 0.3s ease; /* animation */
    overflow-y: auto;
    padding: 20px;
    text-align: left;
    
}


#employee-details .details-bar {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.employee-card.selected {
    border: 2px solid blue;
}

#employee-details.show {
    right: 0;
}

#employee-details .details-content {
    flex-grow: 1;
    position: relative;
    margin-top: 0;
    
}

#employee-details #close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
}

#employee-details .details-image {
    text-align: center;
    margin-bottom: 20px;
}

#employee-details .details-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding-left: 2px;
}
#employee-details .details-content .address{
    margin-top: 30px;
    color: #444;
    font-weight: 200;
    
}

#employee-details h3 {
    overflow-wrap: break-word;
}

#employee-details p {
    margin-bottom: 5px;
}
#employee-details .address{
    margin-top: 5px;
}

#employee-details .details-actions {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 2px;
}

#employee-details .details-action {
    font-weight: bold;
    color: #444;
    padding-top: 5px;
    width: fit-content;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    
}

#employee-details .delete-action {
    background-color: #e74c3c;
    color: white;
}

/* mobile mode */

@media (max-width: 770px) {

    #employee-details {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 1002;
        display: none;
        transition: right 0.3s ease;
        right: -100%;
    }

    #employee-details.show {
        display: block; /* Show the section */
    }


    #employee-details #close-details {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1005;
        min-width: 30px;
        min-height: 30px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8); 
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }
    #employee-details .details-content{
        flex-grow: 1;
        position: relative;
    }
}

/*mobile mode */

/* end of employee deails  */

/*company filter*/
#filter-section {
    position: fixed;
    align-self: flex-start;
    max-width: 200px;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: left;
    z-index: 1000;
}

#filter-section p {
    text-decoration: underline;
    margin-left: 20px;
    color: #3498db;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
}


#main-section {
    display: flex ;
    flex-direction: row;
    padding-top: 140px;
}

#checkbox-list {
    padding: 0;
}

#checkbox-list li {
    padding-left: 20px;
    margin-bottom: 5px;
    padding-right: 20px;
}

#checkbox-list label {
    display: flex;
    align-items: center;
    font-size: 1em; 
    color: #167091;
    cursor: pointer;
}

#checkbox-list input[type="checkbox"] {
    margin-right: 8px; /* Space between checkbox and label */
}

/* end company filter */
/* add employee section */

#add-section { 
    margin: 140px auto;
    padding: 20px;
    height: fit-content;
    width: 500px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, yellow, green, blue, indigo, violet, red);
    border-image-slice: 1;
}
#add-section form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2px; 
}
#add-section .back-to-main{
margin-top: 5px;
width: 100%;
}
#add-section #submit{
    margin-top: 10px;
}
#add-section form label,
#add-section form input {
    width: 100%; 
}


#add-section p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
/* end add section */